.about-us {
  margin-top: 24px;
  & .container {
    @extend %container;
  }
}

.about-us_header {
  @extend %flex-center;

  margin-top: 56px;
}

.image_about-us {
  width: 400px;
  height: 400px;

  background-image: url('../images/image_about-us.png');
  background-size: 400px;
}

.about-us_description {
  width: 1064px;

  text-align: center;
}

.about-us_title {
  @extend %section-title;

  text-transform: uppercase;
}

.about-us_text {
  color: #feffff;
  margin: 0;
  margin-top: 40px;

  /* Main text */
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 28px; /* 175% */
  letter-spacing: 0.16px;

  text-align: center;
}

.features {
  @extend %list;

  display: flex;
  justify-content: space-between;
}

.features-item {
  width: 413px;

  display: flex;
  flex-direction: column;
  align-items: center;

  & .features-icon {
    width: 60px;
    height: 60px;
    background-size: 60px;
  }

  & .icon-polish {
    background-image: url('../images/icons/polish.svg');
  }

  & .icon-ceramic {
    background-image: url('../images/icons/ceramic.svg');
  }

  & .icon-colors {
    background-image: url('../images/icons/colors.svg');
  }
}

.features-title {
  font-family: 'Noto Serif Display';
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px; /* 163.636% */
  letter-spacing: 1.54px;
}

.features-text {
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 28px; /* 175% */
  letter-spacing: 0.16px;

  text-align: center;
}
