.about-us {
  margin-top: 24px;
  & .container {
    @extend %container;
  }
}

.about-us_header {
  @extend %flex-center;

  margin-top: 56px;
}

.image_about-us {
  width: 400px;
  height: 400px;

  background-image: url('../images/image_about-us.png');
  background-size: 400px;
}

.about-us_description {
  width: 1064px;

  text-align: center;
}

.about-us_title {
  @extend %section-title;

  text-transform: uppercase;
}

.about-us_text {
  margin: 0;
  margin-top: 24px;

  /* Main text */
  font-family: 'Montserrat';
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 1.75;
  letter-spacing: 0.16px;

  text-align: center;
  color: $secondary-white-color;

  @media screen and (min-width: $tablet) {
    margin-top: 40px;
  }
}

.features {
  @extend %list;

  display: flex;

  flex-direction: column;
  gap: 32px;
  @media screen and (min-width: $tablet) {
    flex-direction: row;
    gap: 16px;
  }
  @media screen and (min-width: $desktop) {
    justify-content: space-between;
    gap: 0;
  }
}

.features-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @media screen and (min-width: $tablet) {
    width: 290px;
    justify-content: start;
  }
  @media screen and (min-width: $desktop) {
    width: 413px;
  }

  & .features-icon {
    width: 60px;
    height: 60px;
    background-size: 60px;
  }

  & .icon-polish {
    background-image: url('../images/icons/polish.svg');
  }

  & .icon-ceramic {
    background-image: url('../images/icons/ceramic.svg');
  }

  & .icon-colors {
    background-image: url('../images/icons/colors.svg');
  }
}

.features-title {
  font-family: 'Noto Serif Display';
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
  margin: 8px 0 16px 0;
  text-align: center;

  color: $secondary-white-color;
  @media screen and (min-width: $tablet) {
    margin: 24px 0 16px 0;
  }
}

.features-text {
  font-family: 'Montserrat';
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 1.75;
  letter-spacing: 0.16px;
  margin: 0;

  text-align: center;
}
