.advantages {
  margin-top: 120px;

  & .container {
    @extend %container;
  }
}

.advantages-title {
  margin: 0;
  text-align: center;

  font-family: 'Noto Serif Display';
  font-size: 44px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px; /* 127.273% */
  letter-spacing: 2.2px;

  text-transform: uppercase;
}

.advantage-list {
  @extend %list;

  margin-top: 56px;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  row-gap: 40px;
  column-gap: 80px;
}

.advantages-item {
  display: flex;
  gap: 24px;
}

.advantages-icon {
  width: 60px;
  height: 60px;
  background-size: 60px;

  &.icon-professionalism {
    background-image: url('../images/icons/professionalism.svg');
  }
  &.icon-complex {
    background-image: url('../images/icons/complex.svg');
  }
  &.icon-material {
    background-image: url('../images/icons/material.svg');
  }
  &.icon-individual {
    background-image: url('../images/icons/individual.svg');
  }
  &.icon-service {
    background-image: url('../images/icons/service.svg');
  }
  &.icon-garantee {
    background-image: url('../images/icons/garantee.svg');
  }
}

.advantages-item_title {
  margin: 0;

  font-family: 'Noto Serif Display';
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px; /* 163.636% */
  letter-spacing: 1.54px;
  // text-transform: uppercase;
}

.advantages-item_text {
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 28px; /* 175% */
  letter-spacing: 0.16px;

  width: 516px;
}
