.contact-box {
  @extend %flex-center;

  gap: 16px;
  padding: 16px 0;
  background-color: #000;
  z-index: 2;
}

.contact-link {
  display: none;
  @media screen and (min-width: $desktop) {
    display: block;

    width: 40px;
    height: 40px;

    padding: 8px;

    background-repeat: no-repeat;
    background-position: center;
    background-size: 24px;

    &.ins {
      background-image: url('../images/icons/instagram.svg');
    }

    &.tiktok {
      background-image: url('../images/icons/tiktok.svg');
    }

    // @include transition-default;
    // &:hover {
    //   scale: 1.15;
    // }
  }
}

.contact-btn {
  @extend %link;
  @extend %button;

  // transition: all 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
