.contact {
  padding-top: 80px;
  padding-bottom: 100px;
  @media screen and (min-width: $tablet) {
    padding-top: 100px;
    padding-bottom: 180px;
  }
  @media screen and (min-width: $desktop) {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  & .contact-container {
    @extend %container;
    @media screen and (min-width: $tablet) {
      padding: 0;
      display: flex;
      gap: 55px;
      height: 600px;
    }
    @media screen and (min-width: $desktop) {
      gap: 246px;
      gap: 78px;
    }
  }
}
// .contact-main-wrap {
//   @media screen and (min-width: $tablet) {
//     height: 620px;
//   }
// }
.contact-first-wrap {
  display: none;
  @media screen and (min-width: $tablet) {
    display: block;
    // height: 574px;
    width: 400px;
    background: url(../images/car-form.png);
    background-size: 364px 574px;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
.contact-second-wrap {
  width: 350px;

  display: block;
  background: url(../images/photo-bg-form.png);
  background-repeat: no-repeat;
  background-size: cover;

  @media screen and (min-width: $tablet) {
    width: 522px;
  }

  @media screen and (min-width: $desktop) {
    width: 1020px;
  }
}
.contact-wrap {
  // width: 522px;
  padding-top: 20px;
  padding-bottom: 58px;
  margin-left: auto;
  margin-right: auto;
}

.contact-title {
  font-family: 'Noto Serif Display';
  font-size: 22px;
  font-weight: 600;
  line-height: 1.6;
  letter-spacing: 0.07em;
  text-align: center;
}

.contact-text {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.75;
  letter-spacing: 0.16px;
  opacity: 0.5;

  margin-bottom: 32px;
  text-align: center;

  color: $secondary-white-color;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  & input,
  & textarea {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.7;

    background: transparent;
    width: 100%;
    padding: 8px 16px;
    color: rgba(255, 255, 255);

    outline: none;
    border: 0.5px solid rgba(255, 255, 255, 0.7);
    border-radius: 5px;
    & ::placeholder {
      color: rgba(255, 255, 255, 0.5);
    }
  }
}

.box-recaptcha {
  display: flex;
  justify-content: center;
}

.form-btn {
  background-color: transparent;

  display: inline-flex;
  height: 60px;
  padding: 24px;
  justify-content: center;
  align-items: center;
  gap: 30px;

  border-radius: 3px;
  border: 1px solid #b8875c;

  color: $border-color;

  font-family: 'Montserrat', sans-serif;
  font-size: var(--sds-typography-body-size-medium);
  font-style: normal;
  font-weight: 600;
  line-height: 100%; /* 16px */
  letter-spacing: 0.32px;
  text-transform: uppercase;

  @extend %transition-default;

  &:hover {
    background-color: rgba(217, 217, 217, 0.2);
    scale: 1.01;
  }
  &:active {
    background-color: #b8875c;
  }
}
