.examples {
  margin-top: 80px;
  @media screen and (min-width: $tablet) {
    margin-top: 100px;
  }
  @media screen and (min-width: $desktop) {
    margin-top: 120px;
  }

  & .examples-container {
    @extend %container;
  }
}

.examples-title {
  @extend %section-title;
}

.examples-list {
  display: none;
  @media screen and (min-width: $tablet) {
    margin-top: 40px;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    width: 100%;
  }
}

.example-photo {
  display: block;
  width: 210px;
  height: 210px;
  @media screen and (min-width: $desktop) {
    width: 305px;
    height: 305px;
  }
}

.examples-list .tall {
  grid-row: span 2;
  width: 210px;
  height: 444px;
  @media screen and (min-width: $desktop) {
    width: 305px;
    height: 630px;
  }
}

.examples-box-inst {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 40px;
  @media screen and (min-width: $tablet) {
    margin-top: 0;
  }
}

.examples-box-ins_title {
  font-family: 'Montserrat';
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.75;
  letter-spacing: 0.32px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 8px;
  text-align: center;
}

.examples-box-ins_desctiption {
  font-family: 'Montserrat';
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 1.75;
  letter-spacing: 0.16px;
  margin: 0;
  text-align: center;
}

.examples-box-inst_btn {
  @extend %link;

  font-family: 'Montserrat';
  font-size: 16px;
  font-weight: 600;
  line-height: 1.6;
  letter-spacing: 0.32px;
  text-transform: uppercase;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;

  height: 60px;
  width: 350px;

  border-radius: 3px;
  border: 1px solid $primary-site-color;

  color: $border-color;

  @media screen and (min-width: $tablet) {
    width: 210px;
  }
  @media screen and (min-width: $desktop) {
    width: 296px;
  }
}

.wrap-mobile-list {
  margin-top: 40px;
  @media screen and (min-width: $tablet) {
    display: none;
  }

  swiper-container::part(button-prev),
  swiper-container::part(button-next) {
    @media screen and (max-width: $max-mobile) {
      display: none;
    }
  }

  swiper-container::part(wrapper) {
    padding-bottom: 28px;
  }
}
