.footer {
  & .footer-container {
    @extend %container;

    padding-top: 30px;
    padding-bottom: 30px;

    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: space-between;

    background: url(../images/bg-footer-mobile.png);
    background-repeat: no-repeat;
    background-size: cover;

    @media screen and (min-width: $tablet) {
      flex-direction: row;
      padding-top: 0px;
      padding-bottom: 14px;
      gap: 120.5px;
      background: url(../images/bg-footer-tablet.png);
    }

    @media screen and (min-width: $desktop) {
      background: url(../images/footer-photo.png);
      padding-top: 66px;
      padding-bottom: 66px;
      gap: 150px;
    }
  }
}

.footer-right,
.footer-left {
  display: flex;
  flex-direction: column;
  gap: 40px;
  @media screen and (min-width: $desktop) {
    flex-direction: row;
    gap: 154px;
  }
}

.footer-left {
  @media screen and (min-width: $tablet) {
    flex-direction: row;
    gap: 120.5px;
  }
  @media screen and (min-width: $desktop) {
    gap: 154px;
  }
}

.footer-right-second {
  display: flex;
  flex-direction: column;
  gap: 24px;
  @media screen and (min-width: $tablet) {
    gap: 40px;
  }
}

.footer-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  @extend %link;
  margin: 0;

  color: $text-neutral-on-neutral-color;
}

.title-menu {
  padding: 8px;
}

.footer-text {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 26px;
  letter-spacing: 0.02em;
  @extend %link;
  margin: 0;

  color: $text-neutral-on-neutral-color;
}

.footer-list {
  @extend %list;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 24px;
  @media screen and (min-width: $tablet) {
    margin-top: 40px;
    gap: 24px;
  }
}

.footer-item {
  display: flex;
  gap: 8px;
  transition: all 500ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    & a {
      color: $primary-site-color;
    }
  }
}

.footer-icon {
  width: 24px;
  height: 24px;
  background-size: 24px;

  &.icon-phone {
    background: url(../images/icons/phone.svg);
  }
  &.location-pin {
    background: url(../images/icons/location-pin.svg);
  }
  &.icon-email {
    background: url(../images/icons/email.svg);
  }
  &.calendar-clock {
    background: url(../images/icons/calendar-clock.svg);
  }
}

.wrap {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.wrap-link {
  display: flex;
  gap: 16px;
}

.wrap-text {
  width: 297px;
  padding: 8px;
  border-bottom: 1px solid $border-color;
  transition: all 500ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    & a {
      color: $primary-site-color;
    }
  }
}

.wrap-languages {
  display: flex;
  gap: 8px;

  & .language {
    @extend %link;
    color: #b8875c;
  }
}

.language.active {
  pointer-events: none;
  color: gray; /* або будь-який інший стиль для неклікабельного посилання */
  cursor: default; /* зміна курсора на звичайний */
}
