.header__container {
  position: relative;
  @extend %container;
  @extend %flex-center;
  justify-content: space-between;

  @media screen and (max-width: 767px) {
    height: 60px;
  }

  @media screen and (min-width: 768px) {
    height: 92px;
    padding: 16px 80px;
  }
}

.header-pages {
  position: absolute;
  top: 0;
  height: 92px;

  background-color: $primary-black-color;
}
