.header__container {
  position: relative;
  @extend %container;
  @extend %flex-center;
  // display: flex;
  justify-content: space-between;
  height: 76px;

  @media screen and (min-width: $tablet) {
    height: 92px;
    // padding: 16px 80px;
  }
}

.header-pages {
  position: absolute;
  top: 0;
  z-index: 1;
  left: 50%;
  transform: translateX(-50%);

  background-color: $primary-black-color;
}
