.work-examples {
  padding-top: 40px;
  @media screen and (min-width: $tablet) {
    padding-top: 64px;
  }
  & .container {
    @extend %container;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.work-examples-title {
  font-family: 'Noto Serif Display';
  font-size: 32px;
  font-weight: 600;
  line-height: 1.25;
  letter-spacing: 0.05em;

  margin: 0;
  margin-bottom: 32px;
  color: $secondary-white-color;
  @media screen and (min-width: $tablet) {
    font-size: 44px;
    line-height: 1.27;
    margin-bottom: 40px;
  }
}

.work-examples-list {
  display: flex;
  gap: 20px;
  @extend %list;
  margin-bottom: 64px;
}

.btn-back-all-services {
  padding: 16px 32px;
  margin: 64px auto 0;

  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  color: $border-color;
  border-radius: 3px;
  background-color: rgba(217, 217, 217, 0.2);
  color: $secondary-white-color;
  border: none;

  @extend %transition-default;
  &:hover {
    background-color: rgba(184, 135, 92, 0.2);
    color: $primary-site-color;
  }
}
