<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="./images/favicon.ico" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <base href="/Car_Detailing-Front_end/" /> -->
    <title>VIP CAR Detailing</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Serif+Display:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />

    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <!-- header -->
    <%= require('html-loader!./partials/header.html').default %>

    <section class="section-type-services">
      <div class="container-ceramic-coating">
        <a class="type-services-link-back" href="./#services">
          <div class="icon-btn-next"></div>
          Zpět na všechny služby</a
        >
        <div class="type-services-wrap">
          <div class="type-services-wrap-text">
            <h2 class="type-services-title">Keramický povlak</h2>
            <p class="type-services-description">
              Keramický povlak pro automobil je nejspolehlivější ochranou před všemi negativními
              vlivy!
            </p>
            <p class="type-services-description">
              Používáme prémiové keramické povlaky od renomovaných výrobců, které poskytují
              dlouhodobou ochranu laku před UV zářením, vodou, špinavými skvrnami, kyselými dešti,
              škrábanci a dalšími vnějšími vlivy.
            </p>
            <p class="type-services-description">
              Náš zkušený personál pečlivě nanáší keramický povlak podle všech technologických
              standardů, čímž zajišťuje rovnoměrné pokrytí karoserie a dlouhotrvající efekt.
            </p>
            <p class="type-services-description">
              Svěřte svůj vůz profesionálům z VIP Car Detailing – uděláme ho lesklým a chráněným!
            </p>
          </div>
          <div class="ceramic-coating-photo"></div>
        </div>
      </div>
    </section>
    <section class="section-adventiges-services">
      <div class="container-adventiges-cervices">
        <h2 class="adventiges-services-title">Další výhody keramického povlaku:</h2>
        <ul class="advantages-services-ceramic-list">
          <li class="advantages-services-item">
            <div class="icon-stars"></div>
            <h3 class="advantages-services-item_title">Nepřekonatelný lesk</h3>
            <p class="advantages-services-item_text">
              Váš automobil bude zářit hlubokým, zrcadlovým leskem.
            </p>
          </li>
          <li class="advantages-services-item">
            <div class="icon-water"></div>
            <h3 class="advantages-services-item_title">Vynikající hydrofobní efekt</h3>
            <p class="advantages-services-item_text">
              Voda se bude snadno stékat po povrchu karoserie bez zanechání stop.
            </p>
          </li>
          <li class="advantages-services-item">
            <div class="icon-uv"></div>
            <h3 class="advantages-services-item_title">Ochrana před UV zářením</h3>
            <p class="advantages-services-item_text">
              Keramický povlak ochrání lak před vyblednutím a ztrátou lesku.
            </p>
          </li>
          <li class="advantages-services-item">
            <div class="icon-flask"></div>
            <h3 class="advantages-services-item_title">Ochrana před chemikáliemi</h3>
            <p class="advantages-services-item_text">
              Keramický povlak vytváří silnou bariéru, která chrání lak před kyselými dešti a jinými
              chemikáliemi.
            </p>
          </li>
          <li class="advantages-services-item">
            <div class="icon-scratch"></div>
            <h3 class="advantages-services-item_title">Zvýšená odolnost proti škrábancům</h3>
            <p class="advantages-services-item_text">
              Keramický povlak zvyšuje tvrdost laku, což snižuje riziko vzniku nových škrábanců.
            </p>
          </li>
          <li class="advantages-services-item">
            <div class="icon-time"></div>
            <h3 class="advantages-services-item_title">Dlouhotrvající účinek</h3>
            <p class="advantages-services-item_text">
              Keramický povlak si udrží svůj ochranný efekt po několik let.
            </p>
          </li>
        </ul>
      </div>
    </section>
    <section class="work-examples">
      <div class="container">
        <h2 class="work-examples-title">PŘÍKLADY PRACÍ</h2>
        <swiper-container
          data-swiper-second
          class="mySwiper"
          navigation="true"
          pagination="true"
          pagination-clickable="true"
          space-between="20"
          slides-per-view="3"
        >
          <swiper-slide
            ><img src="../images/img/examples/ceramic-coating-example-1.jpg" alt="Example 1"
          /></swiper-slide>
          <swiper-slide
            ><img src="../images/img/examples/ceramic-coating-example-2.jpg" alt="Example 2"
          /></swiper-slide>
          <swiper-slide
            ><img src="../images/img/examples/ceramic-coating-example-3.jpg" alt="Example 3"
          /></swiper-slide>
          <swiper-slide
            ><img src="../images/img/examples/ceramic-coating-example-4.jpg" alt="Example 4"
          /></swiper-slide>
          <swiper-slide
            ><img src="../images/img/examples/ceramic-coating-example-5.jpg" alt="Example 5"
          /></swiper-slide>
          <swiper-slide
            ><img src="../images/img/examples/ceramic-coating-example-6.jpg" alt="Example 6"
          /></swiper-slide>
        </swiper-container>
        <a class="link-wrap" href="./#services">
          <button class="btn-back-all-services" type="button">Zpět na všechny služby</button>
        </a>
      </div>
    </section>
    <!-- contact -->
    <%= require('html-loader!./partials/contact.html').default %>

    <!-- footer -->
    <%= require('html-loader!./partials/footer.html').default %>

    <!-- burger -->
    <%= require('html-loader!./partials/burger.html').default %>

    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"></script>
    <script src="../bundle.js"></script>
  </body>
</html>
