<!DOCTYPE html>
<html lang="cs">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="../images/favicon.ico" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>VIP CAR Detailing</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Serif+Display:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />

    <link rel="stylesheet" href="./css/main.min.css" />
  </head>
  <body>
    <!-- header -->
    <%= require('html-loader!./partials/header.html').default %>

    <section id="hero" class="hero">
      <div class="container">
        <h1 class="hero-title">
          <span>Vip Car</span><span class="hero-description">Detailing</span>
        </h1>
        <div class="hero-smoke"></div>
      </div>
    </section>

    <section id="about-us" class="about-us">
      <div class="container">
        <ul class="features">
          <li class="features-item">
            <div class="features-icon icon-polish"></div>
            <h3 class="features-title">Leštění automobilu</h3>
            <p class="features-text">
              Dodá vašemu vozu hluboký, zrcadlový lesk a ochranu proti vnějším vlivům!
            </p>
          </li>
          <li class="features-item">
            <div class="features-icon icon-ceramic"></div>
            <h3 class="features-title">Keramická ochrana</h3>
            <p class="features-text">
              Zajišťuje nejspolehlivější ochranu proti všem nepříznivým vlivům!
            </p>
          </li>
          <li class="features-item">
            <div class="features-icon icon-colors"></div>
            <h3 class="features-title">Tónování automobilu</h3>
            <p class="features-text">
              Tónování oken a světel – to je styl, pohodlí a bezpečnost pro váš vůz!
            </p>
          </li>
        </ul>
        <div class="about-us_header">
          <div class="about-us_description">
            <h2 class="about-us_title">O nás</h2>
            <p class="about-us_text">
              VIP Car Detailing je profesionální autodetailing v Praze, který pracuje s luxusními i
              běžnými vozy. Naše ceny jsou dostupné a kvalitu našich služeb oceňují stovky
              spokojených zákazníků. Nabízíme širokou škálu služeb, od standardního mytí po
              kompletní detailing. Svěřte svůj vůz nám – uděláme ho čistým, lesklým a jako nový!
            </p>
          </div>
        </div>
      </div>
    </section>

    <section id="advantages" class="advantages">
      <div class="container">
        <h2 class="advantages-title">Výhody VIP Car Detailing</h2>
        <div class="wrap-swiper">
          <swiper-container
            navigation="true"
            pagination="true"
            pagination-clickable="true"
            space-between="40"
            slides-per-view="1.5"
          >
            <swiper-slide class="advantages-swiper-list">
              <div class="advantages-icon icon-professionalism"></div>
              <div>
                <h3 class="advantages-item_title">Profesionalita a zkušenosti</h3>
                <p class="advantages-item_text">
                  Náš tým je složen ze zkušených profesionálů s hlubokými znalostmi v oblasti
                  autodetailingu. Pracujeme s nejlepšími materiály a vybavením, abychom zajistili
                  nejvyšší kvalitu našich služeb.
                </p>
              </div>
            </swiper-slide>
            <swiper-slide class="advantages-swiper-list">
              <div class="advantages-icon icon-complex"></div>
              <div>
                <h3 class="advantages-item_title">Komplexní přístup</h3>
                <p class="advantages-item_text">
                  Nabízíme komplexní péči o váš vůz, od venkovního detailingu až po čištění
                  interiéru. U nás najdete všechny potřebné služby, abyste svůj vůz uvedli do
                  dokonalého stavu.
                </p>
              </div>
            </swiper-slide>
            <swiper-slide class="advantages-swiper-list">
              <div class="advantages-icon icon-material"></div>
              <div>
                <h3 class="advantages-item_title">Vysoce kvalitní materiály</h3>
                <p class="advantages-item_text">
                  Používáme pouze ty nejlepší materiály od renomovaných výrobců: Koch.
                </p>
              </div>
            </swiper-slide>
            <swiper-slide class="advantages-swiper-list">
              <div class="advantages-icon icon-individual"></div>
              <div>
                <h3 class="advantages-item_title">Individuální přístup</h3>
                <p class="advantages-item_text">
                  Víme, že každý vůz je jedinečný. Proto nabízíme individuální přístup každému
                  zákazníkovi a připravujeme plán detailingu, který zohledňuje jeho speciální
                  potřeby.
                </p>
              </div>
            </swiper-slide>
            <swiper-slide class="advantages-swiper-list">
              <div class="advantages-icon icon-service"></div>
              <div>
                <h3 class="advantages-item_title">Pohodlný servis</h3>
                <p class="advantages-item_text">
                  Chápeme, že váš čas je cenný. Proto nabízíme pohodlnou pracovní dobu a možnost
                  objednat si službu pick-up/delivery, abyste ušetřili svůj čas.
                </p>
              </div>
            </swiper-slide>
            <swiper-slide class="advantages-swiper-list">
              <div class="advantages-icon icon-garantee"></div>
              <div>
                <h3 class="advantages-item_title">Záruka kvality</h3>
                <p class="advantages-item_text">
                  Jsme si jistí kvalitou našich služeb a poskytujeme záruku na všechny práce. Můžete
                  si být jisti, že váš vůz bude v dokonalém stavu.
                </p>
              </div>
            </swiper-slide>
          </swiper-container>
        </div>
        <ul class="advantage-list">
          <li class="advantages-item">
            <div class="advantages-icon icon-professionalism"></div>
            <div>
              <h3 class="advantages-item_title">Profesionalita a zkušenosti</h3>
              <p class="advantages-item_text">
                Náš tým tvoří zkušení profesionálové s hlubokými znalostmi v oblasti autodetailingu.
                Pracujeme s nejlepšími materiály a vybavením, abychom zajistili nejvyšší kvalitu
                našich služeb.
              </p>
            </div>
          </li>
          <li class="advantages-item">
            <div class="advantages-icon icon-complex"></div>
            <div>
              <h3 class="advantages-item_title">Komplexní přístup</h3>
              <p class="advantages-item_text">
                Nabízíme komplexní péči o váš vůz, od vnějšího detailingu až po čištění interiéru. U
                nás najdete všechny potřebné služby pro dokonalý vzhled vašeho automobilu.
              </p>
            </div>
          </li>
          <li class="advantages-item">
            <div class="advantages-icon icon-material"></div>
            <div>
              <h3 class="advantages-item_title">Kvalitní materiály</h3>
              <p class="advantages-item_text">
                Používáme jen ty nejlepší materiály od renomovaných výrobců: Koch.
              </p>
            </div>
          </li>
          <li class="advantages-item">
            <div class="advantages-icon icon-individual"></div>
            <div>
              <h3 class="advantages-item_title">Individuální přístup</h3>
              <p class="advantages-item_text">
                Každý automobil je unikátní. Proto nabízíme individuální přístup a připravujeme plán
                detailingu podle vašich specifických potřeb.
              </p>
            </div>
          </li>
          <li class="advantages-item">
            <div class="advantages-icon icon-service"></div>
            <div>
              <h3 class="advantages-item_title">Pohodlné služby</h3>
              <p class="advantages-item_text">
                Chápeme, že váš čas je cenný. Nabízíme flexibilní pracovní dobu a možnost objednat
                si službu pick-up/delivery, abyste ušetřili čas.
              </p>
            </div>
          </li>
          <li class="advantages-item">
            <div class="advantages-icon icon-garantee"></div>
            <div>
              <h3 class="advantages-item_title">Záruka kvality</h3>
              <p class="advantages-item_text">
                Jsme si jisti kvalitou našich služeb a poskytujeme záruku na všechny druhy prací.
                Můžete si být jisti, že váš automobil bude v perfektním stavu.
              </p>
            </div>
          </li>
        </ul>
      </div>
    </section>

    <section id="services" class="services">
      <div class="services-container">
        <h2 class="services-title">Naše služby</h2>
        <ul class="service-list">
          <li class="services-item">
            <picture>
              <source
                media="(min-width: 1024px)"
                srcset="../images/img/services-img/services-car-1.jpg"
              />
              <source
                media="(max-width: 1024px)"
                srcset="../images/img/services-img/services-car-mob-1.jpg"
              />
              <img src="../images/img/services-img/services-car-1.jpg" alt="Služba 1" />
            </picture>
            <div class="wrap-description">
              <h3 class="services-item-title">Ruční mytí</h3>
              <a href="./hand-wash.html">
                <button class="services-btn">
                  Více o službě
                  <div class="icon-btn-next"></div>
                </button>
              </a>
            </div>
          </li>
          <li class="services-item">
            <picture>
              <source
                media="(min-width: 1024px)"
                srcset="../images/img/services-img/services-car-2.jpg"
              />
              <source
                media="(max-width: 1024px)"
                srcset="../images/img/services-img/services-car-mob-2.jpg"
              />
              <img src="../images/img/services-img/services-car-2.jpg" alt="Služba 2" />
            </picture>
            <div class="wrap-description">
              <h3 class="services-item-title">Čištění interiéru</h3>
              <a href="./dry-cleaning.html">
                <button class="services-btn">
                  Více o službě
                  <div class="icon-btn-next"></div></button
              ></a>
            </div>
          </li>
          <li class="services-item">
            <picture>
              <source
                media="(min-width: 1024px)"
                srcset="../images/img/services-img/services-car-3.jpg"
              />
              <source
                media="(max-width: 1024px)"
                srcset="../images/img/services-img/services-car-mob-3.jpg"
              />
              <img src="../images/img/services-img/services-car-3.jpg" alt="Služba 3" />
            </picture>
            <div class="wrap-description">
              <h3 class="services-item-title">Tvrdý vosk</h3>
              <a href="./hard-wax.html">
                <button class="services-btn">
                  Více o službě
                  <div class="icon-btn-next"></div></button
              ></a>
            </div>
          </li>
          <li class="services-item">
            <picture>
              <source
                media="(min-width: 1024px)"
                srcset="../images/img/services-img/services-car-4.jpg"
              />
              <source
                media="(max-width: 1024px)"
                srcset="../images/img/services-img/services-car-mob-4.jpg"
              />
              <img src="../images/img/services-img/services-car-4.jpg" alt="Služba 4" />
            </picture>
            <div class="wrap-description">
              <h3 class="services-item-title">Leštění auta</h3>
              <a href="./polishing.html">
                <button class="services-btn">
                  Více o službě
                  <div class="icon-btn-next"></div>
                </button>
              </a>
            </div>
          </li>
          <li class="services-item">
            <picture>
              <source
                media="(min-width: 1024px)"
                srcset="../images/img/services-img/services-car-5.jpg"
              />
              <source
                media="(max-width: 1024px)"
                srcset="../images/img/services-img/services-car-mob-5.jpg"
              />
              <img src="../images/img/services-img/services-car-5.jpg" alt="Služba 5" />
            </picture>
            <div class="wrap-description">
              <h3 class="services-item-title">Keramická ochrana vozu</h3>
              <a href="./ceramic-coating.html">
                <button class="services-btn">
                  Více o službě
                  <div class="icon-btn-next"></div>
                </button>
              </a>
            </div>
          </li>
          <li class="services-item">
            <picture>
              <source
                media="(min-width: 1024px)"
                srcset="../images/img/services-img/services-car-6.jpg"
              />
              <source
                media="(max-width: 1024px)"
                srcset="../images/img/services-img/services-car-mob-6.jpg"
              />
              <img src="../images/img/services-img/services-car-6.jpg" alt="Služba 6" />
            </picture>
            <div class="wrap-description">
              <h3 class="services-item-title">Restaurování disků</h3>
              <a href="./disk-restoration.html">
                <button class="services-btn">
                  Více o službě
                  <div class="icon-btn-next"></div>
                </button>
              </a>
            </div>
          </li>
          <li class="services-item">
            <picture>
              <source
                media="(min-width: 1024px)"
                srcset="../images/img/services-img/services-car-7.jpg"
              />
              <source
                media="(max-width: 1024px)"
                srcset="../images/img/services-img/services-car-mob-7.jpg"
              />
              <img src="../images/img/services-img/services-car-7.jpg" alt="Služba 7" />
            </picture>
            <div class="wrap-description">
              <h3 class="services-item-title">Tónování oken</h3>
              <a href="./window-tinting.html">
                <button class="services-btn">
                  Více o službě
                  <div class="icon-btn-next"></div>
                </button>
              </a>
            </div>
          </li>
          <li class="services-item">
            <picture>
              <source
                media="(min-width: 1024px)"
                srcset="../images/img/services-img/services-car-8.jpg"
              />
              <source
                media="(max-width: 1024px)"
                srcset="../images/img/services-img/services-car-mob-8.jpg"
              />
              <img src="../images/img/services-img/services-car-8.jpg" alt="Služba 8" />
            </picture>
            <div class="wrap-description">
              <h3 class="services-item-title">Tónování světel</h3>
              <a href="./headlight-tinting.html">
                <button class="services-btn">
                  Více o službě
                  <div class="icon-btn-next"></div>
                </button>
              </a>
            </div>
          </li>
        </ul>
      </div>
    </section>

    <section id="examples-of-work" class="examples">
      <div class="examples-container">
        <h2 class="examples-title">Příklady našich prací</h2>
        <div class="examples-list">
          <img class="tall" src="../images/img/examples/our-work-car-1.png" alt="Příklad práce 1" />
          <img src="../images/img/examples/our-work-car-2.png" alt="Příklad práce 2" />
          <img src="../images/img/examples/our-work-car-3.png" alt="Příklad práce 3" />
          <img src="../images/img/examples/our-work-car-4.png" alt="Příklad práce 4" />
          <img src="../images/img/examples/our-work-car-5.png" alt="Příklad práce 5" />
          <img src="../images/img/examples/our-work-car-6.png" alt="Příklad práce 6" />
          <div class="examples-box-inst">
            <div class="examples-box-inst_header">
              <h3 class="examples-box-ins_title">JSME NA INSTAGRAMU</h3>
              <p class="examples-box-ins_desctiption">@vip.car_detailing</p>
            </div>
            <a
              class="examples-box-inst_btn"
              href="https://www.instagram.com/vip.car_detailing/"
              target="_blank"
              ><i class="fab fa-instagram"></i> SLEDUJTE NÁS</a
            >
          </div>
        </div>
      </div>
    </section>

    <!-- contact -->
    <%= require('html-loader!./partials/contact.html').default %>

    <!-- footer -->
    <%= require('html-loader!./partials/footer.html').default %>

    <!-- burger -->
    <%= require('html-loader!./partials/burger.html').default %>

    <script src="../bundle.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"></script>
  </body>
</html>
