<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- icons -->
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="../images/img/img-favicon/favicon_16x16.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="../images/img/img-favicon/favicon_32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="48x48"
      href="../images/img/img-favicon/favicon_48x48.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="../images/img/img-favicon/favicon_180x180.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="192x192"
      href="../images/img/img-favicon/favicon_192x192.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="512x512"
      href="../images/img/img-favicon/favicon_512x512.png"
    />

    <meta property="og:locale" content="cs_CZ" />
    <link rel="alternate" hreflang="cs" href="https://yourwebsite.com/dry-cleaning" />
    <link rel="alternate" hreflang="uk" href="https://yourwebsite.com/uk/dry-cleaning" />
    <link rel="alternate" hreflang="en" href="https://yourwebsite.com/en/dry-cleaning" />

    <title>Хімчистка салону | VIP Car Detailing</title>
    <meta
      name="description"
      content="Професійна хімчистка салону автомобіля у Празі. Очищення сидінь, килимків, оббивки дверей та дашборду. Видалення плям та запахів."
    />
    <meta
      name="keywords"
      content="хімчистка салону, детейлінг, очищення салону, видалення плям, запахи, Прага, VIP Car Detailing"
    />
    <meta property="og:title" content="Хімчистка салону | VIP Car Detailing" />
    <meta
      property="og:description"
      content="Замовляйте хімчистку салону автомобіля у VIP Car Detailing в Празі. Якісне очищення від плям та запахів."
    />
    <meta property="og:url" content="https://vip-car-detailing.com/uk/dry-cleaning" />

    <meta name="author" content="VIP Car Detailing" />
    <meta property="og:site_name" content="VIP Car Detailing" />
    <meta property="og:image" content="https://vip-car-detailing.com/images/img/main-image.jpg" />
    <meta property="article:publisher" content="https://www.instagram.com/vip.car_detailing/" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Serif+Display:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />

    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <!-- header -->
    <%= require('html-loader!./partials/header.html').default %>

    <section class="section-type-services">
      <div class="container-dry-cleaning">
        <a class="type-services-link-back" href="./#services">
          <div class="icon-btn-next"></div>
          До всіх послуг</a
        >
        <div class="type-services-wrap">
          <div class="type-services-wrap-text">
            <h2 class="type-services-title">Хімчистка салону</h2>
            <p class="type-services-description">
              За допомогою професійних засобів та обладнання ми глибоко очищаємо усі поверхні
              салону: сидіння, килимки, оббивку дверей, підголовники, дашборд.
            </p>
            <p class="type-services-description">
              Видаляємо плями, забруднення, пил, алергени та неприємні запахи.
            </p>
            <p class="type-services-description">
              Після нашої хімчистки ваш салон буде свіжим, чистим і приємним на дотик!
            </p>
          </div>
          <div class="dry-cleaning-photo"></div>
        </div>
      </div>
    </section>
    <section class="work-examples">
      <div class="container">
        <h2 class="work-examples-title">ПРИКЛАДИ РОБІТ</h2>
        <swiper-container
          data-swiper-second
          class="mySwiper"
          navigation="true"
          pagination="true"
          pagination-clickable="true"
          space-between="20"
          slides-per-view="3"
          autoplay-delay="4000"
          autoplay-disable-on-interaction="false"
        >
          <swiper-slide
            ><img src="../images/img/examples/dry-cleaning-example-1.jpg" alt="Example 1"
          /></swiper-slide>
          <swiper-slide
            ><img src="../images/img/examples/dry-cleaning-example-2.jpg" alt="Example 2"
          /></swiper-slide>
          <swiper-slide
            ><img src="../images/img/examples/dry-cleaning-example-3.jpg" alt="Example 3"
          /></swiper-slide>
          <swiper-slide
            ><img src="../images/img/examples/dry-cleaning-example-4.jpg" alt="Example 4"
          /></swiper-slide>
          <swiper-slide
            ><img src="../images/img/examples/dry-cleaning-example-5.jpg" alt="Example 5"
          /></swiper-slide>
          <swiper-slide
            ><img src="../images/img/examples/dry-cleaning-example-6.jpg" alt="Example 6"
          /></swiper-slide>
        </swiper-container>

        <a class="link-wrap" href="./#services">
          <button class="btn-back-all-services" type="button">До всіх послуг</button>
        </a>
      </div>
    </section>
    <!-- contact -->
    <%= require('html-loader!./partials/contact.html').default %>

    <!-- footer -->
    <%= require('html-loader!./partials/footer.html').default %>

    <!-- burger -->
    <%= require('html-loader!./partials/burger.html').default %>

    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"></script>
    <script src="../bundle.js"></script>
  </body>
</html>
