<!DOCTYPE html>
<html lang="uk">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- icons -->
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="../images/img/img-favicon/favicon_16x16.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="../images/img/img-favicon/favicon_32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="48x48"
      href="../images/img/img-favicon/favicon_48x48.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="../images/img/img-favicon/favicon_180x180.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="192x192"
      href="../images/img/img-favicon/favicon_192x192.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="512x512"
      href="../images/img/img-favicon/favicon_512x512.png"
    />

    <meta property="og:locale" content="cs_CZ" />
    <link rel="alternate" hreflang="cs" href="https://yourwebsite.com/headlight-tinting" />
    <link rel="alternate" hreflang="uk" href="https://yourwebsite.com/uk/headlight-tinting" />
    <link rel="alternate" hreflang="en" href="https://yourwebsite.com/en/headlight-tinting" />

    <title>Тонування фар | VIP Car Detailing</title>
    <meta
      name="description"
      content="Професійне тонування фар від VIP Car Detailing у Празі. Використовуємо високоякісні плівки для покращення видимості та захисту фар."
    />
    <meta
      name="keywords"
      content="тонування фар, автодетейлінг, плівки на фари, безпека водіння, VIP Car Detailing"
    />
    <meta property="og:title" content="Тонування фар | VIP Car Detailing" />
    <meta
      property="og:description"
      content="Професійне тонування фар від VIP Car Detailing у Празі. Використовуємо високоякісні плівки для покращення видимості та захисту фар."
    />
    <meta property="og:url" content="https://vip-car-detailing.com/uk/headlight-tinting" />

    <meta name="author" content="VIP Car Detailing" />
    <meta property="og:site_name" content="VIP Car Detailing" />
    <meta property="og:image" content="https://vip-car-detailing.com/images/img/main-image.jpg" />
    <meta property="article:publisher" content="https://www.instagram.com/vip.car_detailing/" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Serif+Display:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />

    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <!-- header -->
    <%= require('html-loader!./partials/header.html').default %>

    <section class="section-type-services">
      <div class="container-headlight-tinting">
        <a class="type-services-link-back" href="./#services">
          <div class="icon-btn-next"></div>
          До всіх послуг</a
        >
        <div class="type-services-wrap">
          <div class="type-services-wrap-text">
            <h2 class="type-services-title">Тонування фар</h2>
            <p class="type-services-description">
              Ми використовуємо високоякісні світлопропускаючі тонувальні плівки, які зменшують
              яскравість зустрічного світла, підвищуючи безпеку та комфорт водіння в нічний час.
            </p>
            <p class="type-services-description">
              Процес тонування виконується досвідченими майстрами, які забезпечують рівномірне та
              якісне покриття фар, зберігаючи їх функціональність.
            </p>
            <p class="type-services-description">
              Довірте свої фари професіоналам VIP Car Detailing - ми зробимо їх стильними,
              безпечними та захищеними!
            </p>
          </div>
          <div class="headlight-tinting-photo"></div>
        </div>
      </div>
    </section>
    <section class="section-adventiges-services">
      <h2 class="adventiges-services-title">Додаткові переваги тонування фар:</h2>
      <ul class="advantages-services-list">
        <li class="advantages-services-item">
          <div class="icon-save-more"></div>
          <h3 class="advantages-services-item_title">Збільшення безпеки</h3>
          <p class="advantages-services-item_text">
            Зменшує яскравість зустрічного світла, покращуючи видимість дороги.
          </p>
        </li>
        <li class="advantages-services-item">
          <div class="icon-design"></div>
          <h3 class="advantages-services-item_title">Стильний дизайн</h3>
          <p class="advantages-services-item_text">
            Надає автомобілю агресивний та спортивний вигляд.
          </p>
        </li>
        <li class="advantages-services-item">
          <div class="icon-protection"></div>
          <h3 class="advantages-services-item_title">Захист від пошкоджень</h3>
          <p class="advantages-services-item_text">
            Тонувальна плівка захищає фари від дрібних пошкоджень.
          </p>
        </li>
      </ul>
    </section>
    <section class="work-examples">
      <div class="container">
        <h2 class="work-examples-title">ПРИКЛАДИ РОБІТ</h2>
        <swiper-container
          data-swiper-second
          class="mySwiper"
          navigation="true"
          pagination="true"
          pagination-clickable="true"
          space-between="20"
          slides-per-view="3"
          autoplay-delay="4000"
          autoplay-disable-on-interaction="false"
        >
          <swiper-slide
            ><img src="../images/img/examples/headlight-tinting-example-1.jpg" alt="Example 1"
          /></swiper-slide>
          <swiper-slide
            ><img src="../images/img/examples/headlight-tinting-example-2.jpg" alt="Example 2"
          /></swiper-slide>
          <swiper-slide
            ><img src="../images/img/examples/headlight-tinting-example-3.jpg" alt="Example 3"
          /></swiper-slide>
          <swiper-slide
            ><img src="../images/img/examples/headlight-tinting-example-4.jpg" alt="Example 4"
          /></swiper-slide>
        </swiper-container>

        <a class="link-wrap" href="./#services">
          <button class="btn-back-all-services" type="button">До всіх послуг</button>
        </a>
      </div>
    </section>
    <!-- contact -->
    <%= require('html-loader!./partials/contact.html').default %>

    <!-- footer -->
    <%= require('html-loader!./partials/footer.html').default %>

    <!-- burger -->
    <%= require('html-loader!./partials/burger.html').default %>

    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"></script>
    <script src="../bundle.js"></script>
  </body>
</html>
