<div class="box-burger-menu is-hidden" data-menu>
  <button type="button" class="menu-close-btn button" data-menu-close></button>

  <nav>
    <ul class="site-nav-burger-menu">
      <li class="site-nav__item">
        <a href="#about-us" class="site-nav__link">About Us</a>
      </li>
      <li class="site-nav__item">
        <a href="#services" class="site-nav__link">Services</a>
      </li>
      <li class="site-nav__item">
        <a href="#examples-of-work" class="site-nav__link">Examples of Work</a>
      </li>
      <li class="site-nav__item">
        <a href="../../ua/prices.html" class="site-nav__link">Pricing</a>
      </li>
      <li class="site-nav__item">
        <a href="#reviews" class="site-nav__link">Reviews</a>
      </li>
    </ul>
  </nav>
  <div class="contact-box-burger-menu">
    <p class="title-link-burger-menu">Subscribe</p>
    <div class="wrap-links">
      <a
        class="link-burger-menu ins"
        href="https://www.instagram.com/vip.car_detailing/"
        target="_blank"
      >
      </a>
      <a
        class="link-burger-menu tiktok"
        href="https://www.tiktok.com/@vip_autodetailing"
        target="_blank"
      >
      </a>
    </div>
  </div>
</div>
