<section id="contact" class="contact">
  <div class="contact-container">
    <div class="contact-first-wrap"></div>
    <div class="contact-second-wrap">
      <div class="contact-wrap">
        <h2 class="contact-title">
          Find out the cost<br />
          of detailing for your car
        </h2>
        <p class="contact-text">We will contact you shortly:</p>
        <form
          id="contactForm"
          class="contact-form"
          netlify
          data-netlify-recaptcha="true"
          data-netlify="true"
        >
          <input type="text" name="name" placeholder="Name" />
          <input type="tel" name="phone" placeholder="Phone number" />
          <input type="email" name="email" placeholder="Email" />
          <textarea name="text" placeholder="Your message"></textarea>
          <div data-netlify-recaptcha="true" class="box-recaptcha"></div>
          <button type="submit" class="form-btn">Get a consultation</button>
        </form>
      </div>
    </div>
  </div>
</section>
