<div class="header">
  <div class="header__container header-pages">
    <a href="/en/" class="logo"></a>

    <nav>
      <ul class="site-nav">
        <li class="site-nav__item">
          <a href="#about-us" class="site-nav__link">About Us</a>
        </li>
        <li class="site-nav__item">
          <a href="#services" class="site-nav__link">Services</a>
        </li>
        <li class="site-nav__item">
          <a href="#examples-of-work" class="site-nav__link">Work Examples</a>
        </li>
        <li class="site-nav__item">
          <a href="../../en/prices.html" class="site-nav__link">Prices</a>
        </li>
        <li class="site-nav__item">
          <a href="#reviews" class="site-nav__link">Reviews</a>
        </li>
      </ul>
    </nav>
    <div class="wrap-box">
      <div class="contact-box">
        <div class="language-menu">
          <button class="language-toggle-btn" data-language-toggle="desktop">
            <div class="languages-icon"></div>
            <div class="icon-arrow" data-arrow="desktop"></div>
          </button>
        </div>
        <a
          class="contact-link ins"
          href="https://www.instagram.com/vip.car_detailing/"
          target="_blank"
        >
        </a>
        <a
          class="contact-link tiktok"
          href="https://www.tiktok.com/@vip_autodetailing"
          target="_blank"
        >
        </a>
        <a href="#contact" class="contact-btn">Get a Consultation</a>
      </div>
      <ul class="language-list hidden" data-language-list="desktop">
        <li>
          <a class="language" href="/">
            <div class="icon-language-cs"></div>
            <p class="language-text">Čeština</p>
          </a>
        </li>
        <li>
          <a class="language" href="/uk/">
            <div class="icon-language-uk"></div>
            <p class="language-text">Українська</p>
          </a>
        </li>
        <li>
          <a class="language" href="/en/">
            <div class="icon-language-en"></div>
            <p class="language-text">English</p>
          </a>
        </li>
      </ul>
      <button type="button" class="button-burger" data-menu-open></button>
    </div>
  </div>
</div>
