<div class="header">
    <div class="header__container header-pages">
    <a href="/" class="logo"></a>
    <nav>
      <ul class="site-nav">
        <li class="site-nav__item">
          <a href="#about-us" class="site-nav__link">O nás</a>
        </li>
        <li class="site-nav__item">
          <a href="#services" class="site-nav__link">Služby</a>
        </li>
        <li class="site-nav__item">
          <a href="#examples-of-work" class="site-nav__link">Příklady prací</a>
        </li>
        <li class="site-nav__item">
          <a href="../../cs/prices.html" class="site-nav__link">Ceny</a>
        </li>
        <li class="site-nav__item">
          <a href="#reviews" class="site-nav__link">Recenze</a>
        </li>
      </ul>
    </nav>
    <div class="wrap-box">
      <div class="contact-box">
        <a
          class="contact-link ins"
          href="https://www.instagram.com/vip.car_detailing/"
          target="_blank"
        >
        </a>
        <a
          class="contact-link tiktok"
          href="https://www.tiktok.com/@vip_autodetailing"
          target="_blank"
        >
        </a>
        <a href="#contact" class="contact-btn">Získat konzultaci</a>
      </div>
      <button type="button" class="button-burger" data-menu-open></button>
      </div>
    </div>
  </div>
</div>
