$primary-white-color: #ffffff;
$secondary-white-color: #feffff;
$primary-black-color: #000000;
$primary-site-color: #b8875c;
$secondary-site-color: #efc078;

$primary-site-color-hover: #188ce8;

$primary-text-color: #212121;
$secondary-text-color: #757575;

$primary-bg-color: #2f303a;
$secondary-bg-color: #f5f4fa;

$primary-icon-color: #afb1b8;

$text-neutral-on-neutral-color: #f3f3f3;
$border-color: #d9d9d9;
