<div class="header">
  <div class="header__container">
    <a href="./index.html" class="logo"></a>
    <nav>
      <ul class="site-nav">
        <li class="site-nav__item">
          <a href="#about-us" class="site-nav__link">Про нас</a>
        </li>
        <li class="site-nav__item">
          <a href="#services" class="site-nav__link">Послуги</a>
        </li>
        <li class="site-nav__item">
          <a href="#examples-of-work" class="site-nav__link">Приклади робіт</a>
        </li>
        <li class="site-nav__item">
          <a href="../../ua/prices.html" class="site-nav__link">Прайс</a>
        </li>
        <li class="site-nav__item">
          <a href="#contacts" class="site-nav__link">Контакти</a>
        </li>
      </ul>
    </nav>
    <div class="wrap-box">
      <div class="contact-box">
        <a
          class="contact-link ins"
          href="https://www.instagram.com/vip.car_detailing/"
          target="_blank"
        >
        </a>
        <a
          class="contact-link tiktok"
          href="https://www.tiktok.com/@vip_autodetailing"
          target="_blank"
        >
        </a>
        <a href="#contact" class="contact-btn">Отримати консультацію</a>
      </div>
      <button type="button" class="button-burger"></button>
    </div>
  </div>
</div>
