<div class="header">
  <div class="header__container header-pages">
    <a href="/ua/" class="logo"></a>

    <nav>
      <ul class="site-nav">
        <li class="site-nav__item">
          <a href="/ua/#about-us" class="site-nav__link">Про нас</a>
        </li>
        <li class="site-nav__item">
          <a href="/ua/#services" class="site-nav__link">Послуги</a>
        </li>
        <li class="site-nav__item">
          <a href="/ua/#examples-of-work" class="site-nav__link">Приклади робіт</a>
        </li>
        <li class="site-nav__item">
          <a href="/ua/prices.html" class="site-nav__link">Прайс</a>
        </li>
        <li class="site-nav__item">
          <a href="/ua/#reviews" class="site-nav__link">Відгуки</a>
        </li>
      </ul>
    </nav>

    <div class="wrap-box">
      <div class="contact-box">
        <div class="language-menu">
          <button class="language-toggle-btn" data-language-toggle="desktop">
            <div class="languages-icon"></div>
            <div class="icon-arrow" data-arrow="desktop"></div>
          </button>
        </div>
        <a
          class="contact-link ins"
          href="https://www.instagram.com/vip.car_detailing/"
          target="_blank"
        >
        </a>
        <a
          class="contact-link tiktok"
          href="https://www.tiktok.com/@vip_autodetailing"
          target="_blank"
        >
        </a>
        <a href="#contact" class="contact-btn">Отримати консультацію</a>
      </div>
      <ul class="language-list hidden" data-language-list="desktop">
        <li>
          <a class="language" href="/ua/">
            <div class="icon-language-ua"></div>
            <p class="language-text">Українська</p>
          </a>
        </li>
        <li>
          <a class="language" href="/en/">
            <div class="icon-language-en"></div>
            <p class="language-text">English</p>
          </a>
        </li>
        <li>
          <a class="language" href="/">
            <div class="icon-language-cs"></div>
            <p class="language-text">Čeština</p>
          </a>
        </li>
      </ul>

      <button type="button" class="button-burger" data-menu-open></button>
    </div>
  </div>
</div>
