<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="./images/favicon.ico" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <base href="/Car_Detailing-Front_end/" /> -->
    <title>VIP CAR Detailing</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Serif+Display:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />

    <link rel="stylesheet" href="./css/main.min.css" />
  </head>
  <body>
    <!-- header -->
    <%= require('html-loader!./partials/header.html').default %>

    <section class="section-type-services">
      <div class="container-disk-restoration">
        <a class="type-services-link-back" href="./#services">
          <div class="icon-btn-next"></div>
          До всіх послуг</a
        >
        <div class="type-services-wrap">
          <div class="type-services-wrap-text">
            <h2 class="type-services-title">Реставрація дисків</h2>
            <p class="type-services-description">
              Реставрація дисків - це повернення вашим колесам колишньої краси та блиску!
            </p>
            <p class="type-services-description">
              Ми використовуємо професійні засоби та технології, щоб усунути подряпини, корозію та
              інші пошкодження, які виникли на дисках вашого автомобіля.
            </p>
            <p class="type-services-description">
              Наші майстри ретельно очищують диски від бруду, пилу та інших забруднень, відновлюють
              їх форму та блиск, а потім наносять захисне покриття для тривалого збереження
              результату.
            </p>
          </div>
          <div class="disk-restoration-photo"></div>
        </div>
      </div>
    </section>
    <section class="work-examples">
      <div class="container">
        <h2 class="work-examples-title">ПРИКЛАДИ РОБІТ</h2>
        <ul class="work-examples-list">
          <li class="work-examples-item">
            <img src="../images/img/examples/disk-restoration-example-1.jpg" alt="Example 1" />
          </li>
          <li class="work-examples-item">
            <img src="../images/img/examples/disk-restoration-example-2.jpg" alt="Example 2" />
          </li>
          <li class="work-examples-item">
            <img src="../images/img/examples/disk-restoration-example-3.jpg" alt="Example 3" />
          </li>
          <!-- <li class="work-examples-item">
            <img src="../images/img/examples/disk-restoration-example-4.jpg" alt="Example 4" />
          </li>
          <li class="work-examples-item">
            <img src="../images/img/examples/disk-restoration-example-5.jpg" alt="Example 5" />
          </li>
          <li class="work-examples-item">
            <img src="../images/img/examples/disk-restoration-example-6.jpg" alt="Example 6" />
          </li>  -->
        </ul>
        <a class="link-wrap" href="./#services">
          <button class="btn-back-all-services" type="button">До всіх послуг</button>
        </a>
      </div>
    </section>
    <!-- contact -->
    <%= require('html-loader!./partials/contact.html').default %>

    <!-- footer -->
    <%= require('html-loader!./partials/footer.html').default %>

    <script src="../bundle.js"></script>
  </body>
</html>
