<!DOCTYPE html>
<html lang="ua">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="../images/favicon.ico" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>VIP CAR Detailing</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Serif+Display:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />

    <link rel="stylesheet" href="../css/main.min.css" />
  </head>
  <body>
    <!-- header -->
    <%= require('html-loader!./partials/header.html').default %>

    <section class="section-type-services">
      <div class="container-hand-wash">
        <a class="type-services-link-back" href="./#services">
          <div class="icon-btn-next"></div>
          До всіх послуг</a
        >
        <div class="type-services-wrap">
          <div class="type-services-wrap-text">
            <h2 class="type-services-title">Ручна мийка</h2>
            <p class="type-services-description">
              Ручна мийка в VIP Car Detailing - це не просто миття, а справжнє мистецтво!
            </p>
            <p class="type-services-description">
              Наші майстри дбайливо очистять кожен сантиметр вашого автомобіля, використовуючи
              тільки преміальні миючі засоби та м'які губки, що не зашкодять лакофарбовому покриттю.
            </p>
            <p class="type-services-description">
              Ми звертаємо увагу на кожну деталь, від кузова до салону. Після нашої мийки ваш
              автомобіль буде справді сяяти чистотою і блиском!
            </p>
          </div>
          <div class="hand-wash-photo"></div>
        </div>
      </div>
    </section>

    <section class="work-examples">
      <div class="container">
        <h2 class="work-examples-title">ПРИКЛАДИ РОБІТ</h2>
        <swiper-container
          class="mySwiper"
          navigation="true"
          pagination="true"
          pagination-clickable="true"
          space-between="20"
          slides-per-view="3"
        >
          <swiper-slide
            ><img src="../images/img/examples/hand-wash-example-1.png" alt="Example 1"
          /></swiper-slide>
          <swiper-slide
            ><img src="../images/img/examples/hand-wash-example-2.png" alt="Example 2"
          /></swiper-slide>
          <swiper-slide
            ><img src="../images/img/examples/hand-wash-example-3.png" alt="Example 3"
          /></swiper-slide>
          <swiper-slide
            ><img src="../images/img/examples/hand-wash-example-4.png" alt="Example 4"
          /></swiper-slide>
          <swiper-slide
            ><img src="../images/img/examples/hand-wash-example-5.png" alt="Example 5"
          /></swiper-slide>
          <swiper-slide
            ><img src="../images/img/examples/hand-wash-example-6.png" alt="Example 6"
          /></swiper-slide>
        </swiper-container>

        <a class="link-wrap" href="./#services">
          <button class="btn-back-all-services" type="button">До всіх послуг</button>
        </a>
      </div>
    </section>

    <!-- contact -->
    <%= require('html-loader!./partials/contact.html').default %>

    <!-- footer -->
    <%= require('html-loader!./partials/footer.html').default %>

    <!-- burger -->
    <%= require('html-loader!./partials/burger.html').default %>

    <script src="../bundle.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"></script>
  </body>
</html>
