<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="./images/favicon.ico" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <base href="/Car_Detailing-Front_end/" /> -->
    <title>VIP CAR Detailing</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Serif+Display:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />

    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <!-- header -->
    <%= require('html-loader!./partials/header.html').default %>

    <section class="section-type-services">
      <div class="container-hard-wax">
        <a class="type-services-link-back" href="./#services">
          <div class="icon-btn-next"></div>
          Back to All Services</a
        >
        <div class="type-services-wrap">
          <div class="type-services-wrap-text">
            <h2 class="type-services-title">Hard Wax</h2>
            <p class="type-services-description">
              Applying hard wax is true protection for your car from external factors!
            </p>
            <p class="type-services-description">
              We use only the best hard waxes from renowned manufacturers, providing long-lasting
              protection for the paintwork against UV rays, water, dirt stains, and minor scratches.
            </p>
            <p class="type-services-description">
              Our experienced staff carefully apply the wax, adhering to all technological
              standards, ensuring even coverage of the bodywork and long-lasting effect.
            </p>
          </div>
          <div class="hard-wax-photo"></div>
        </div>
      </div>
    </section>
    <section class="work-examples">
      <div class="container">
        <h2 class="work-examples-title">WORK EXAMPLES</h2>
        <swiper-container
          class="mySwiper"
          navigation="true"
          pagination="true"
          pagination-clickable="true"
          space-between="20"
          slides-per-view="3"
        >
          <swiper-slide
            ><img src="../images/img/examples/hard-wax-example-1.jpg" alt="Example 1"
          /></swiper-slide>
          <swiper-slide
            ><img src="../images/img/examples/hard-wax-example-2.jpg" alt="Example 2"
          /></swiper-slide>
          <swiper-slide
            ><img src="../images/img/examples/hard-wax-example-3.jpg" alt="Example 3"
          /></swiper-slide>
          <swiper-slide
            ><img src="../images/img/examples/hard-wax-example-4.jpg" alt="Example 4"
          /></swiper-slide>
          <swiper-slide
            ><img src="../images/img/examples/hard-wax-example-5.jpg" alt="Example 5"
          /></swiper-slide>
          <swiper-slide
            ><img src="../images/img/examples/hard-wax-example-6.jpg" alt="Example 6"
          /></swiper-slide>
        </swiper-container>

        <a class="link-wrap" href="./#services">
          <button class="btn-back-all-services" type="button">Back to All Services</button>
        </a>
      </div>
    </section>
    <!-- contact -->
    <%= require('html-loader!./partials/contact.html').default %>

    <!-- footer -->
    <%= require('html-loader!./partials/footer.html').default %>

    <!-- burger -->
    <%= require('html-loader!./partials/burger.html').default %>

    <script src="../bundle.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"></script>
  </body>
</html>
