<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="./images/favicon.ico" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <base href="/Car_Detailing-Front_end/" /> -->
    <title>VIP CAR Detailing</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Serif+Display:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />

    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <!-- header -->
    <%= require('html-loader!./partials/header.html').default %>

    <section class="section-type-services">
      <div class="container-headlight-tinting">
        <a class="type-services-link-back" href="./#services">
          <div class="icon-btn-next"></div>
          Back to All Services</a
        >
        <div class="type-services-wrap">
          <div class="type-services-wrap-text">
            <h2 class="type-services-title">Headlight Tinting</h2>
            <p class="type-services-description">
              We use high-quality light-transmitting tint films that reduce the brightness of
              oncoming lights, enhancing safety and driving comfort at night.
            </p>
            <p class="type-services-description">
              The tinting process is performed by experienced professionals who ensure an even and
              high-quality coating on the headlights, maintaining their functionality.
            </p>
            <p class="type-services-description">
              Trust your headlights to the professionals at VIP Car Detailing – we’ll make them
              stylish, safe, and protected!
            </p>
          </div>
          <div class="headlight-tinting-photo"></div>
        </div>
      </div>
    </section>
    <section class="section-adventiges-services">
      <div class="container-adventiges-cervices">
        <h2 class="adventiges-services-title">Additional Benefits of Headlight Tinting:</h2>
        <ul class="advantages-services-list">
          <li class="advantages-services-item">
            <div class="icon-save-more"></div>
            <h3 class="advantages-services-item_title">Increased Safety</h3>
            <p class="advantages-services-item_text">
              Reduces the brightness of oncoming lights, improving road visibility.
            </p>
          </li>
          <li class="advantages-services-item">
            <div class="icon-design"></div>
            <h3 class="advantages-services-item_title">Stylish Design</h3>
            <p class="advantages-services-item_text">
              Gives the vehicle an aggressive and sporty look.
            </p>
          </li>
          <li class="advantages-services-item">
            <div class="icon-protection"></div>
            <h3 class="advantages-services-item_title">Protection from Damage</h3>
            <p class="advantages-services-item_text">
              The tint film protects the headlights from minor damage.
            </p>
          </li>
        </ul>
      </div>
    </section>
    <section class="work-examples">
      <div class="container">
        <h2 class="work-examples-title">WORK EXAMPLES</h2>
        <swiper-container
          data-swiper-second
          class="mySwiper"
          navigation="true"
          pagination="true"
          pagination-clickable="true"
          space-between="20"
          slides-per-view="3"
        >
          <swiper-slide
            ><img src="../images/img/examples/headlight-tinting-example-1.jpg" alt="Example 1"
          /></swiper-slide>
          <swiper-slide
            ><img src="../images/img/examples/headlight-tinting-example-2.jpg" alt="Example 2"
          /></swiper-slide>
          <swiper-slide
            ><img src="../images/img/examples/headlight-tinting-example-3.jpg" alt="Example 3"
          /></swiper-slide>
          <swiper-slide
            ><img src="../images/img/examples/headlight-tinting-example-4.jpg" alt="Example 4"
          /></swiper-slide>
        </swiper-container>

        <a class="link-wrap" href="./#services">
          <button class="btn-back-all-services" type="button">Back to All Services</button>
        </a>
      </div>
    </section>
    <!-- contact -->
    <%= require('html-loader!./partials/contact.html').default %>

    <!-- footer -->
    <%= require('html-loader!./partials/footer.html').default %>

    <!-- burger -->
    <%= require('html-loader!./partials/burger.html').default %>

    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"></script>
    <script src="../bundle.js"></script>
  </body>
</html>
